
<div>
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-label="Close" ng-click="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Update Branch Details</h4>
	</div>
	<div class="modal-body">
		<p>Enter the details of  Branch:</p>
		BranchName:<input class="form-control required" type="text" ng-model="branch.branchName"> <br />
		BranchAddress:<input type="text" ng-model="branch.branchAddress"> <br />
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="closeModal()">Close</button>
		<button type="button" class="btn btn-primary"
			ng-click="updateBranch()">Update</button>
	</div>
</div>